# Server
DATABASE_URI=postgres://gophkeeper:password@localhost:5432/gophkeeper?sslmode=disable
GRPC_ADDRESS=0.0.0.0:50051
LOG_LEVEL=debug
JWT_SECRET_KEY=d}WF>Yv;Ci
JWT_EXPIRATION=24h

# Client
LOG_LEVEL=debug
SERVER_ADDRESS=localhost:50051
